@import url("https://fonts.googleapis.com/css?family=Raleway");

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  color: #d3d3d3;
  font-size: 20px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}

header {
  position: sticky;
  top: 0;
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid #00fff2;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.nav-div-left, .nav-div-right {
  display: flex;
}

.nav-ul-li, .header-ul-li {
  list-style: none;
  cursor: pointer;
  padding: 3px;
  padding-left: 15px;
}

.nav-div-main .nav-ul-li {
  padding-right: 15px;
}

.header_top-ul .nav-ul-li {
  height: 30px;
  display: flex;
  align-items: center;
}

.header_bot-ul {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #00fff2;
}

main {flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  border-top: 1px solid #00fff2;
  padding: 8px;
}

.footer-ul-li {
  list-style: none;
  cursor: pointer;
  padding: 3px;
  padding-left: 15px;
  padding-right: 15px;
}
