body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}

* {
    color: #d3d3d3;
    font-size: 20px;
    font-weight: 400;
    box-sizing: border-box;
}

.header_bot-ul {
    justify-content: space-between;
    display: flex;
    padding: 8px;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid #00fff2;
    position: fixed;
    left: 288px;
    right: 0;
    margin: 0;
}

.header_top-ul {
    justify-content: space-between;
    display: flex;
    padding: 0;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid #00fff2;
    color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    right: 0;
}

.header-ul-li {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

.nav-ul-li {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    padding: 3px;
    padding-left: 15px;
}

.sec_a {
    position: fixed;
    top: 30px;
    left: 50px;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    padding: 30px;
    border-left: 1px solid #00fff2;
    border-right: 1px solid #00fff2;
    overflow: auto;
}

.sec_b {
    display: none;
}

.section_b-ul-li {
    display: none;
}

.section-ul-li {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    padding-block: auto;
    padding-block: 10px;
}

footer {
    justify-content: space-between;
    display: flex;
    position: fixed;
    top: 910px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    border-top: 1px solid #00fff2;
    overflow: auto;
}

.footer-ul-li {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    padding-block: auto;
    padding-left: 15px;
    padding-right: 15px;
}